{% extends 'books/base.html' %}
{% block content %}
    <h1 style="color: #FF3333; text-transform: uppercase; font-size: 3em; margin-bottom: 0;">СТОП! 🛑</h1>
    <h2 style="font-family: Arial, sans-serif;">Удаляем навсегда «{{ book.title }}»?</h2>
    
    <form method="post" style="margin-top: 40px;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="font-size: 1.5em; padding: 15px 30px;">ДА, УДАЛИТЬ</button>
        <a href="{% url 'book_list' %}" class="btn btn-green" style="font-size: 1.5em; padding: 15px 30px; margin-left: 20px;">ОТМЕНА</a>
    </form>
{% endblock %}